body {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: gray;
}

#game-board {
  display: flex;
  flex-direction: column;
  width: 512px;
  height: 512px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.cell {
  flex-grow: 1;
}

.active {
  background-color: yellow;
}

.disactive {
  background-color: gray;
}

.inline {
  display: inline;
}

#grid-size-section {
  margin: 1rem;
}

#options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  border: 3px solid gray;
  border-radius: 5px;
  background-color: yellow;
  padding: 10px;
}

.button:hover {
  border: 3px solid rgb(92, 92, 92);
  background-color: rgb(255, 255, 139);
}
